
.ipynb_checkpoints/custom_funcs-checkpoint.py
.ipynb_checkpoints/Wine Quality Dataset-checkpoint.url
.ipynb_checkpoints/wine_quality_project-checkpoint.ipynb
.ipynb_checkpoints/wine_quality_project_classif-checkpoint.ipynb
.ipynb_checkpoints/wine_quality_project_classif_v0_02-checkpoint.ipynb
.ipynb_checkpoints/wine_quality_project_classif_v0_03-checkpoint.ipynb
.ipynb_checkpoints/wine_quality_project_classif_v0_04-checkpoint.ipynb
.ipynb_checkpoints/wine_quality_project_classif_v0_05-checkpoint.ipynb
.ipynb_checkpoints/wine_quality_project_classif_v1_0-checkpoint.ipynb
.ipynb_checkpoints/winequality-checkpoint.names
__pycache__/custom_funcs.cpython-38.pyc
__pycache__/f_wine_quality.cpython-38.pyc
__pycache__/testing_funcs.cpython-38.pyc
wine_quality_project.ipynb
wine_quality_project_classif.ipynb
wine_quality_project_classif_v0_02.ipynb
wine_quality_project_classif_v0_03.ipynb
wine_quality_project_classif_v0_04.ipynb
wine_quality_project_classif_v0_05.ipynb
